.navbar{
    background-color: #D32F2F !important;
}

.nav-link{
    color: white !important;
    font-weight: bold;
}

.fa-shopping-cart, .fa-user-circle{
    font-size: 32px !important; 
}

.fa-truck, .fa-headphones, .fa-thumbs-up{
    font-size: 50px !important;
    margin-right: 10px;
     color: #D32F2F !important;
}
h3{
    color:  #D32F2F;
}

.card1, .card2, .card3{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px gray ;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.mainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}